header{
    background-color: rgb(0, 0, 0);
    color:snow
}

body{
    background-color: rgb(86, 86, 86);
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: snow;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color:rgb(213, 183, 146);
    text-decoration: underline;
}

img{
    width: 170px ;
    height: 170px ;
    border-radius: 1 ;
}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5;
    padding: 30px 0;
    box-sizing: border-box;
    border: 2px solid black;
}

.produtos li:hover {
    border-color: rgb(255, 0, 0);
}

.produtos li:active {
    border-color: blueviolet;
}

.produtos li:hover h2 {
    font-size: 35px;
    color: red;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao {
    font-size: 18px;
}

.produtos-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;

    padding: 40px 0;
}

footer img {
    width: 200px;
}

.copyright {
    color: black;
    font-size: 13px;
    margin: 20px 0 0;
}